MONGO_URI=replace_with_your_conection_string
GH_CLIENT_ID=clientID
GH_CLIENT_SECRET=clientSecret
ADMIN_EMAIL=admin_email
ADMIN_PASSWORD=admin_pass
EMAIL_USER=user_email_for_nodemailer
EMAIL_PASS=pass_email_for_nodemailer