<form id="signUpForm">
    <h1>Registrarse</h1>
    <input placeholder="email" name="email"/>
    <br />
     <br />
    <input placeholder="password" name="password" />
    <br />
    <br />
    <input placeholder="Nombre" name="first_name" />
    <br />
    <br />
    <input placeholder="Apellido" name="last_name" />
    <br />
    <br />
    <input placeholder="Edad" name="age" />
    <br />
    <br />
    <button>Registrarse</button>
</form>
<script src="/js/{{script}}"></script>


